*
.*

!.env.example
!.gitignore
!install.sh
!README.md
!UNLICENSE

!.denver
!.denver/**/*
!.denver/**/.*

!base
!base/**/*
!base/**/.*

!vim
!vim/**/*
!vim/**/.*

!nginx
!nginx/**/*
!nginx/**/.*

!ca
!ca/**/*
!ca/**/.*

!tmux
!tmux/**/*
!tmux/**/.*

!zsh
!zsh/**/*
!zsh/**/.*

!node
!node/**/*
!node/**/.*
