*
.*

!.env.example
!.gitignore
!plopfile.js
!README.md
!UNLICENSE

!.denver
!.denver/**/*
!.denver/**/.*

!sshd
!sshd/**/*
!sshd/**/.*

!env
!env/**/*
!env/**/.*

!bash
!bash/**/*
!bash/**/.*

!vim
!vim/**/*
!vim/**/.*

!nginx
!nginx/**/*
!nginx/**/.*

!ca
!ca/**/*
!ca/**/.*
